@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Black.woff2') format('woff2'), url('~assets/fonts/Lato-Black.woff') format('woff'), url('~assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-LightItalic.woff2') format('woff2'), url('~assets/fonts/Lato-LightItalic.woff') format('woff'), url('~assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Bold.woff2') format('woff2'), url('~assets/fonts/Lato-Bold.woff') format('woff'), url('~assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-BoldItalic.woff2') format('woff2'), url('~assets/fonts/Lato-BoldItalic.woff') format('woff'), url('~assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Light.woff2') format('woff2'), url('~assets/fonts/Lato-Light.woff') format('woff'), url('~assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Italic.woff2') format('woff2'), url('~assets/fonts/Lato-Italic.woff') format('woff'), url('~assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-BlackItalic.woff2') format('woff2'), url('~assets/fonts/Lato-BlackItalic.woff') format('woff'), url('~assets/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Regular.woff2') format('woff2'), url('~assets/fonts/Lato-Regular.woff') format('woff'), url('~assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('~assets/fonts/Lato-Hairline.woff2') format('woff2'), url('~assets/fonts/Lato-Hairline.woff') format('woff'), url('~assets/fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('~assets/fonts/Lato-HairlineItalic.woff2') format('woff2'), url('~assets/fonts/Lato-HairlineItalic.woff') format('woff'), url('~assets/fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marsek Demi';
    src: url('~assets/fonts/MarsekDemi.woff2') format('woff2'), url('~assets/fonts/MarsekDemi.woff') format('woff'), url('~assets/fonts/MarsekDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amalfi Coast';
    src: url('~assets/fonts/Amalfi-Coast.woff2') format('woff2'), url('~assets/fonts/Amalfi-Coast.woff') format('woff'), url('~assets/fonts/Amalfi-Coast.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('~assets/fonts/Raleway-Regular.woff2') format('woff2'), url('~assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('~assets/fonts/Raleway-SemiBold.woff2') format('woff2'), url('~assets/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}